$CodGray: #1c1c1c;
$TallPoppy: #b42924;
$Silver: #ccc;
$White: #fff;
$Alto: #d3d3d3;
$WildSand: #f5f5f5;
$DustyGray:  #9c9c9c;
$Tundora:  #474747;
$MineShaft:  #333333;
$SpicyMix:  #814444;
$Gray:  #808080;
$IndianKhaki:  #c3b091;
$Boulder:  #767676;

