$bodyTextColor: $CodGray;
$tabsBgColor: $CodGray;
$lineColor: $CodGray;
$tabsTextColor: $CodGray;
$buttonBorderColor: $CodGray;
$lineListColor: $TallPoppy;
$textListColor: $TallPoppy;
$textRed: $TallPoppy;
$boxBorderColor: $Silver;
$navLinkColor: $White;
$navLinkHoverColor: $White;
$imgBgColor: $White;
$quoteBgColor: $White;
$quoteBorderColor: $Silver;
$listContentColor: $Boulder;
$boxBgColor: $White;
$footerTextColor: $White;
$borderPgSliderColor: $Alto;
$bgPgSlider: $WildSand;
$bgPgActive: $DustyGray;
$lineDasedColor: $Alto;
$buttonSliderBg: $Tundora;
$titleBgSlider: $Tundora;
$lineColor: $CodGray;
$navFont: Georgia, sans-serif;
$bodyFont: 14px/21px Garamond;
$titleFont: Calluna;
$navTextSize: 18px;
$marginPage: 130px;
$bodyBackground: url("../img/bg-body.png");
$bgHeader: url(../img/bg-header.png) repeat-x;
$shadowOuter: 0 3px 10px rgba(0, 0, 0, 0.19);
$shadowInner: inset 0 2px 5px rgba(0, 0, 0, 0.19);
$networksSprites: url(../img/networks-sprites.png) no-repeat;
$infoPostsSprites: url(../img/info-sprites.png) no-repeat;



